.sectionContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 5rem;
}

.buttonSection {
  background-color: hsl(323 21% 16%);
}

.loadingSection {
  color: white;
  background-color: #000;
}

.loadingSection > * {
  width: 90%;
  text-align: center;
}

.cardSection {
  background-color: hsl(207, 19%, 9%);
}

.cardSection > .backgroundContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;

  padding: 2rem;
  background-image: url('../public/Assets/Images/JWSTHD.jpg');
}


.formsSection {
  color: white;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background: #1d2b3a;
}

.textEffectSection {
  background-color: #bfe7ff;
}